<div class="zaglavlje">
  <h1>Projekti</h1>
  <a matButton="filled" routerLink="/projekti/novi">
    <mat-icon>add</mat-icon>
    Novi projekat
  </a>
</div>

<mat-form-field appearance="outline" class="pretraga" subscriptSizing="dynamic">
  <mat-label>Pretraga</mat-label>
  <input matInput [formControl]="pretraga" placeholder="Naziv ili opis" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

@if (ucitava()) {
  <mat-progress-bar mode="indeterminate" />
}

@if (strana(); as s) {
  <div class="tabela">
    <table
      mat-table
      [dataSource]="s.sadrzaj"
      matSort
      [matSortActive]="sort.kolona"
      [matSortDirection]="sort.smer"
      (matSortChange)="sortiraj($event)"
    >
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
        <td mat-cell *matCellDef="let p">
          <a [routerLink]="['/projekti', p.id]">{{ p.naziv }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="opis">
        <th mat-header-cell *matHeaderCellDef>Opis</th>
        <td mat-cell *matCellDef="let p" class="opis">{{ p.opis }}</td>
      </ng-container>
      <ng-container matColumnDef="rokRealizacije">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok</th>
        <td mat-cell *matCellDef="let p">{{ p.rokRealizacije | date }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="kolone"></tr>
      <tr mat-row *matRowDef="let p; columns: kolone"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell prazno" [attr.colspan]="kolone.length">
          @if (upit.pretraga) {
            Nema projekata za zadatu pretragu.
          } @else {
            Nema projekata. <a routerLink="/projekti/novi">Napravi prvi projekat</a>.
          }
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
    showFirstLastButtons
    [length]="s.ukupno"
    [pageIndex]="s.broj"
    [pageSize]="s.velicina"
    [pageSizeOptions]="velicine"
    (page)="promeniStranu($event)"
  />
}
